<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.0.2/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-EVSTQN3/azprG1Anm3QDgpJLIm9Nao0Yz1ztcQTwFspd3yD65VohhpuuCOmLASjC" crossorigin="anonymous">
    <link rel="stylesheet" href="../resource/style.css">
    <title>Document</title>
</head>
<body>

    <nav class="navbar navbar-expand-lg navbar-light bg-light">
        <div class="container-md">
          <a class="navbar-brand" href="#">Abdellatif</a>
        </div>
        <div class="container-md d-flex justify-content-evenly">
          <a class="navbar-brand" href="#">home</a>
          <a class="navbar-brand" href="#">about</a>
          <a class="navbar-brand" href="#">service</a>
          <a class="navbar-brand" href="#">contact</a>
        </div>
      </nav>

    <script src="../resource/file.js"></script>
</body>
</html>